<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EatDifferent</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="home-page">
    <nav class="nav-info">
      <a href="index.html"
        ><img src="../static/images/logo.png" alt="logo" class="logo"
      /></a>
      <div>
        <a href="#" class="nav-a">About us</a>
        <a href="#" class="nav-a">Support</a>
      </div>
      <div class="sign">
        <a href="/login" class="log-in">Log In</a>
      </div>
    </nav>
    <header>
      <div class="Hero-text">
        <h1>Track Smarter, Eat Better, Live Healthier</h1>
        <p>
          EatDifferent is your go-to tool for tracking calories and
          discovering<br />
          personalized recipes that align with your health goals. Whether
          you're<br />
          looking to lose weight, build muscle, or maintain a balanced<br />
          lifestyle, we make eating smarter and feeling better simple. Enjoy
          a<br />
          variety of delicious, nutritious meals tailored just for you!<br />
        </p>
        <button class="pulse-button">Start Your Journey Now</button>
      </div>
      <img
        src="../static/images/diet-food-bowl-for-person-suffering-from-glycemic-disease.png"
        alt=""
        class="main-image"
      />
    </header>
    <article id="cards-section">
      <div class="cards-title"><h2>Why Choose EatDifferent?</h2></div>
      <div class="cards-wrap">
        <div class="card">
          <h2>
            <i class="fa-solid fa-weight-scale fa-lG"></i> Take control of your
            diet with ease.
          </h2>
          <p>
            Our intuitive calorie tracker helps you monitor your daily<br />intake
            and stay on top of your health goals. Whether you're<br />counting
            macros, tracking portions, or simply staying mindful<br />of what
            you eat, we’ve got you covered.
          </p>
        </div>

        <div class="card">
          <h2>
            <i class="fa-solid fa-utensils fa-lG"></i> Healthy eating made
            delicious.
          </h2>
          <p>
            Get access to a library of recipes tailored to your<br />preferences
            and goals. From quick meals to creative<br />dishes, EatDifferent
            ensures you enjoy every bite while<br />sticking to your plan.
          </p>
        </div>
        <div class="card">
          <h2>
            <i class="fa-solid fa-bullseye fa-lg"></i> Your health, your
            journey.
          </h2>
          <p>
            Whether you're working toward weight loss,<br />muscle gain, or
            maintaining a balanced lifestyle,<br />EatDifferent provides the
            tools and guidance to help<br />you succeed. Start your journey
            today!
          </p>
        </div>
      </div>
    </article>
    <footer class="footer"><p id="footer"></p></footer>
    <script src="../static/footer.js"></script>
    <script
      src="https://kit.fontawesome.com/46a97e3482.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
    <script src="../static/animation.js"></script>
  </body>
</html>
