nav * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8bc34a;
  height: 64px;
  position: sticky;
  top: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 1000;
  animation: slideDown 0.8s ease-out;
  animation-fill-mode: both;
}

.nav-a {
  margin-right: 16px;
  position: relative;
  transition: 0.3s;
  text-decoration: none;
  color: #f5f5dc;
  font-size: 18px;
}

.nav-a:hover {
  text-decoration: none;
  color: #f5f5dc;
}

.nav-a::after {
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 0;
  bottom: 0;
  height: 2px;
  background-color: #f5f5dc;
  right: 0;
  left: auto;
}

.nav-a:hover::after {
  width: 100%;
  left: 0;
}

.sign {
  margin-right: 18px;
  display: flex;
  align-items: center;
}

.sign p {
  color: #f5f5dc;
  font-size: 18px;
}

.log {
  text-decoration: none;
  color: #f5f5dc;
  padding: 10px 25px;
  border: 2px solid #f5f5dc;
  border-radius: 5px;
  margin-left: 26px;
  transition: all 0.3s ease;
}

.sign a:hover {
  color: #8bc34a;
  background-color: #f5f5dc;
}

.sign a:active {
  background-color: #dfdfca;
  border-color: #dfdfca;
}

.logo {
  margin-left: 16px;
  width: 200px;
}

/* footer */
footer {
  background-color: #8bc34a;
  height: 32px;
  display: flex;
  align-items: center;
  animation: 0.8s fadeInUp ease-in forwards;
  opacity: 0;
  margin-top: 264px;
}

footer p {
  color: #f5f5dc;
  margin-left: 5px;
  height: auto;
}

/*DROPDOWN*/
.dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown {
  display: none;
  border-radius: 5px;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 155px;
  height: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0;
  flex-direction: column;
}

.user-dropdown a {
  text-decoration: none;
  margin-top: 5px;
  color: #505050;
  margin-left: 15px;
}

.user-dropdown .log-out {
  color: #cc0000;
}
.user-dropdown .log-out:hover {
  color: #de6363;
}

.user-dropdown a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .user-dropdown,
.user-dropdown:hover {
  display: flex;
  justify-content: space-around;
}

nav .zmdi-account {
  color: white;
  margin-left: 10px;
}

.user {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border: 2px #f5f5dc solid;
  border-radius: 5px;
  text-emphasis: none;
}

.user:hover,
.user:focus {
  color: #8bc34a;
  background-color: #f5f5dc;
  cursor: pointer;
}

.user:hover * {
  color: #8bc34a;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(31, 31, 31);
  z-index: 1001;
  opacity: 0.8;
}

.popup-content-a h2 {
  text-align: center;
  margin-top: 20px;
}

.allergies-popup {
  display: none;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
