{% extends "base.html" %} {% block title %}About Us{% endblock %}{% block head
%} <link rel="stylesheet" href="../static/about-us.css" />

{% endblock %} {% block content %}
<div class="content">
  <div class="left-side-wrap">
    <div class="main-left">
      <h1 class="main-header">About EatDifferent</h1>
      <p class="main-text">
        Welcome to EatDifferent, your go-to destination for everything related
        to healthy eating and balanced living. We are passionate about
        empowering individuals to make informed choices that nourish the body
        and mind. <br /><br />Our mission is to provide valuable resources,
        delicious recipes, and expert tips to help you embrace a wholesome
        lifestyle. Whether you're looking to improve your diet, find nutritious
        meal plans, or explore the benefits of mindful eating, we've got you
        covered.<br /><br />
        At EatDifferent, we believe that healthy eating should be accessible,
        enjoyable, and sustainable. Our team of nutrition experts, chefs, and
        wellness enthusiasts work together to create content that inspires and
        educates. We are committed to promoting wellness for everyone,
        regardless of dietary preferences or fitness levels.<br /><br />
        Join us on this journey to better health and well-being. Explore our
        recipes, read insightful articles, and connect with a community that
        shares your passion for a healthier life.
      </p>
    </div>
  </div>
  <div class="right-side-wrap">
    <div class="main-right">
      <h1 class="main-header">Our Goals</h1>
      <ul>
        <li>
          <strong>Promote Nutritional Awareness:</strong> Educate our audience
          on the benefits of a balanced diet and the importance of mindful
          eating.
        </li>
        <li>
          <strong>Support Sustainable Choices:</strong>
          Advocate for eco-friendly and locally sourced ingredients to support
          both personal health and the environment.
        </li>
        <li>
          <strong>Inspire Healthy Cooking:</strong>
          Provide easy-to-follow recipes that make healthy eating enjoyable and
          accessible for everyone.
        </li>
        <li>
          <strong>Encourage Lifelong Wellness:</strong>
          Offer guidance on incorporating healthy habits into daily routines for
          lasting well-being.
        </li>
        <li>
          <strong>Offer Personalized Solutions:</strong>
          Develop meal plans and wellness programs tailored to individual
          dietary needs and fitness goals.
        </li>
        <li>
          <strong> Empower Families and Communities:</strong>
          Provide resources and workshops that help families and communities
          adopt healthier lifestyles.
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
